<div class="pager-box">
	<ul id="pager" class="pure-paginator">

		<% if(this.page > 0) { %>
			<li><a class="pure-button pager-button first" data-page="0">&nbsp;</a></li>
			<li><a class="pure-button pager-button prev" data-page="<%= this.page - 1 %>">&nbsp;</a></li>
		<% } else { %>
			<li><a class="pure-button pure-button-disabled pager-button first">&nbsp;</a></li>
			<li><a class="pure-button pure-button-disabled pager-button prev">&nbsp;</a></li>
		<% } %>

		<% for( var i = this.window_start; i < this.window_end; i++ ) { %>
			<% if(this.page == i) { %>
				<li><a class="pure-button pager-button pager-button-selected"><%= i + 1 %> of <%= this.pages %></a></li>
			<% } else { %>
				<li><a class="pure-button pager-button" data-page="<%= i %>"><%= i + 1 %></a></li>
			<% } %>
		<% } %>

		<% if(this.page < this.pages - 1) { %>
			<li><a class="pure-button pager-button next" data-page="<%= this.page + 1 %>">&nbsp;</a></li>
			<li><a class="pure-button pager-button last" data-page="<%= this.pages - 1 %>">&nbsp;</a></li>
		<% } else { %>
			<li><a class="pure-button pure-button-disabled pager-button next">&nbsp;</a></li>
			<li><a class="pure-button pure-button-disabled pager-button last">&nbsp;</a></li>
		<% } %>

	</ul>
</div>
