
<!-- TODO: Hide this if the requestor isn't on the white-list. -->
<div class="post">
	<div class="l-box">
		<div class="pure-form pure-g">
			<label for="shorten" class="pure-u-1">Shorten a URL:</label>
			<input type="text" id="shorten" name="shorten" class="pure-input pure-u-1" placeholder="http://example.com">
		</div>
	</div>
</div>

<% if(!url) { %>
<% } else { %>
	<div class="post">
		<div class="l-box">
			Short URL: <a href="<%= scheme %>://<%= host %>/<%= url.short %>"><%= scheme %>://<%= host %>/<%= url.short %></a><br>
			<small>Original URL: <a href="<%= url.url %>"><%= url.url %></a></small>
		</div>
	</div>
<% } %>

<!-- always show this -->
<div class="post">
	<div class="l-box">
		<div class="pure-form pure-g">
			<div class="pure-u-1-2">
				<h1>Latest <%= latest_urls.length %> URLs</h1>
				<ol>
					<% latest_urls.each( function(u) { %>
						<li>
							<a href="<%= scheme %>://<%= host %>/<%= u.short %>"><%= scheme %>://<%= host %>/<%= u.short %></a>
							<dd><%= u.created_at %></dd>
							<dd><small><%= u.url %></small></dd>
						</li>
					<% }); %>
				</ol>
			</div>
			<div class="pure-u-1-2">
				<h1>Top <%= top_urls.length %> URLs</h1>
				<ol>
					<% top_urls.each( function(u) { %>
						<li>
							<a href="<%= scheme %>://<%= host %>/<%= u.short %>"><%= scheme %>://<%= host %>/<%= u.short %></a>
							<dd><%= u.hits %> hits</dd>
							<dd><small><%= u.url %></small></dd>
						</li>
					<% }); %>
				</ol>
			</div>
		</div>
	</div>
</div>
