<div class="post">
	<% if(HixIO.authenticated()) { %>
		<div class="l-box">
			<div class="pure-form pure-g">
				<label for="shorten" class="pure-u-1">Shorten a URL:</label>
				<input type="text" id="shorten" name="shorten" class="pure-input pure-u-1" placeholder="http://example.com">
			</div>
		</div>
	<% } else { %>
		<h1>Shortened URLs</h1>
	<% } %>
</div>

<% if(url) { %>
	<div class="post">
		<div class="l-box">
			Short URL: <a href="<%= scheme %>://<%= host %>/<%= url.short %>"><%= scheme %>://<%= host %>/<%= url.short %></a><br>
			<small>Original URL: <a href="<%= url.url %>"><%= url.url %></a></small>
		</div>
	</div>
<% } %>

<div class="post">
	<div class="pure-form pure-g">
		<div class="pure-u-1-2">
			<h2>Latest</h2>
			<% if( latest_urls.length == 0 ) { %>
				<p><i class="fa fa-large fa-exclamation-triangle"></i>Nothing to see here.</p>
			<% } else { %>
				<ol>
					<% latest_urls.each( function(u) { %>
						<li>
							<a href="<%= scheme %>://<%= host %>/<%= u.short %>"><%= scheme %>://<%= host %>/<%= u.short %></a>
							<br>
							<small><%= relative_date(u.ctime); %> ago &middot; <%= u.url %></small>
						</li>
					<% }); %>
				</ol>
			<% } %>
		</div>
		<div class="pure-u-1-2">
			<h2>Most Visited</h2>
			<% if( latest_urls.length == 0 ) { %>
				<p><i class="fa fa-large fa-exclamation-triangle"></i>Nothing to see here.</p>
			<% } else { %>
				<ol>
					<% top_urls.each( function(u) { %>
						<li>
							<a href="<%= scheme %>://<%= host %>/<%= u.short %>"><%= scheme %>://<%= host %>/<%= u.short %></a>
							<br>
							<small><%= u.hits %> hits &middot; <%= u.url %></small>
						</li>
					<% }); %>
				</ol>
			<% } %>
		</div>
	</div>
</div>
